{% extends 'employees\director\base_director.html' %}
{% block content %}
{% for document in documents %}
    DOCUMENT NAME: {{document.document_file}} <br>
    <a href='{% url 'document-detail-director' document.id %}'> VIEW </a> <br>
    <form method='POST'> {% csrf_token %} 
        {{form_assignment.employee.label}} <br>
        {{form_assignment.employee}} 
        <input type="hidden"  value="{{document.id}}" name="id">
        <input type='submit' value='Assign' >
        </form> </a>
    <hr>
    {% empty %}
    You have no documents to assign to project menager.
{% endfor %}

{% endblock  %}