{% extends 'employees\director\base_director.html' %}
{% block content %}
<div class = "document_list_center" >
<table class='document_list'>
    <tr>
      <th>Title</th>
      <th>Status</th>
      <th>Details</th>
      <th>Checked</th>
    </tr>
    {% for document in documents %}
    <tr>
      <td>{{document.title}}</td>
      <td>{{document.status}}</td>
      <td><a href='{% url 'document-detail-pm' document.id %}'> VIEW </a></td>
      <td><form method='POST'> {% csrf_token %} 
        <input type="hidden"  value="{{document.id}}" name="id">
        <input class = "action_button" type='submit' value='Checked' >
        </form></td> 
    </tr>
  {% empty %}
  <p class = "empty_context" >You have no documents. </p>
  {% endfor %}
</table>
</div>
{% endblock  %}

