{% extends 'employees\pm\base_pm.html' %}
{% block content %}
{% for document in documents %}
    DOCUMENT NAME: {{document.document_file}} <br>
    <a href='{% url 'document-detail-pm' document.id %}'> VIEW </a> <br>
    <form method='POST'> {% csrf_token %} 
        <input type="hidden"  value="{{document.id}}" name="id">
        <input type='submit' value='Checked' >
    </form> </a>
{% empty %}
<p class = "empty_context" > You have no documents that are waiting for checks. </p>
{% endfor %}
    
{% endblock  %}

