body{
  background-color: rgb(0, 0, 0);
  color: rgb(2, 2, 2);
}

.center_div{
  margin-top: 2%;
  width: 68%;
  height: 83%;
  background-color: #dddddd; /* Green */
  border-radius: 2%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.login_register_field{
  font-size: 36px;
}

.center_content{
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.center_register{
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}


.button_login {
  background-color: #b6b6b6; /* Green */
  border: 1px solid rgb(0, 0, 0);
  width: 200px;
  border-radius: 4px;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  margin: 3px;
}

.text_login{
  font-size: 48px;
  font-weight: 600;
}

.form_input {
  padding: 3px 3px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 15px;
}

.button_menu {
  background-color: #d7ddd7; /* Green */
  border: 1px solid rgb(0, 0, 0);
  width: 110%;
  border-radius: 5%;
  color: rgb(34, 33, 33);
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 23px;
  margin: 3px;
}

.menu_inline {
  display: inline-block; 
  padding: 1% 2.5%;
  }

.menu_accounts {
  background-color: #3a3a3a;
  border-radius: 2.5%;
  text-align: center;
  height: auto;
  width: 68%;
  position: fixed;
  top: 5%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 1;
  }

.menu_director {
  background-color: #3a3a3a;
  border-radius: 2.5%;
  text-align: center;
  height: auto;
  width: 59%;
  position: fixed;
  top: 5%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 1;
}

.menu_pm {  
  background-color: #3a3a3a;
  border-radius: 4% ;
  text-align: center;
  height: auto;
  width: 40%;
  position: fixed;
  top: 5%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 1;
}

.error_msg {
  color: rgb(170, 0, 0);
  font-size: medium;
  font-weight: 500;
  position: relative;
}

.create_document{
  display: inline-block;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 23px;
  padding: 8px 8px;
}

.page_title{
  text-align: center;
  font-size: 30px;
  font-weight: 600;
}

.upload_button{
  border: 2px solid rgb(0, 0, 0);
  width: 80px;
  border-radius: 4px;
  padding: 4px 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 3px;
}

.empty_context{
  font-size: 30px;
  font-weight: 300;
}
