<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <p> Logged as '{{request.user}}' </p>   
        <p> Employee's position '{{request.user.employee.position}}' </p>
        <h3>  <a href='{% url 'logout'%}'> Logout </a></h3>
        <h3>  <a href='{% url 'document-create'%}'> Add new document</a></h3>
        <h3> <a href='{% url 'document-list' %}'> View all documents</a></h3>
        <br><br><br><br><br><br>

        <h1> NOT APPROVED </h1>
        {% for document_not_approved in documents_not_approved %}
             DOCUMENT NAME: {{document_not_approved.document_file}} <br>
            <a href='{% url 'document-detail' document_not_approved.id %}'> VIEW </a> <br>
            <a href='{% url 'document-assign' document_not_approved.id %}'> ASSIGN </a>
            <hr>
        {% endfor %}

        <br><br><br><br><br><br>
        <h1> APPROVED </h1>
        {% for document_approved in documents_approved %}
             DOCUMENT NAME: {{document_approved.document_file}} <br>
            <a href='{% url 'document-detail' document_approved.id %}'> VIEW </a>
            <hr>
        {% endfor %}
    </body>
</html>