<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
            <h1>Waiting for PM approval</h1>
        {% for document in not_approved_pm %}
             DOCUMENT NAME: {{document.title}} <br>
            <a href='{% url 'document-detail' document.id %}'> VIEW </a> <br>
            <a href='{% url 'document-assign' document.id %}'> Assign </a>
            <hr>
        {% endfor %}

        <br><br><br><br><br><br>
        <h1> Approved by PM, waiting for approval</h1>
        {% for document in not_approved_director %}
             DOCUMENT NAME: {{document.title}} <br>
            <a href='{% url 'document-detail' document.id %}'> View </a><hr>
        {% endfor %}
    </body>
</html>

