{% extends 'employees\base_login.html' %}
{% block content %}
    
    <div class='center_div'>
        <div class='center_content'>
        <div class = 'text_login'> &#160 LOGIN </div>
        <form method='POST'> 
        {% csrf_token %}
            <input class='form_input' type='text' name='username' placeholder='username'> <br>
            <input class='form_input' type='password' name='password' placeholder='password'> <br>
            <input class= 'button_login' type='submit' value='LOGIN'>
        </form>
        <p class = "error_msg">{{error}} </p>
        </div>
    </div>

{% endblock %}