
{% if request.user.employee.position == 'accounts' %}
<div class="menu_accounts">
    <form class="menu_inline" method="get" action="{% url 'document-create' %}">
        <button type="submit" class="button_menu">Add new document</button>
    </form>
    <form class="menu_inline" method="get" action="{% url 'document-list' %}">
        <button type="submit" class="button_menu">All documents</button>
    </form>
    <form class="menu_inline" method="get" action="{% url 'document-list-waiting-payment' %}">
        <button type="submit" class="button_menu">Waiting for payment</button>
    </form>
    <form class="menu_inline" method="get" action="{% url 'document-list-finished' %}">
        <button type="submit" class="button_menu">Finished documents</button>
    </form>
    <form class="menu_inline" method="get" action="{% url 'logout' %}">
        <button type="submit" class="button_menu">Logout</button>
    </form>
</div>
{% endif %}

{% if request.user.employee.position == 'director' %}
<div class="menu_director"> 
        <form class="menu_inline" method="get" action="{% url 'document-not-assigned' %}">
            <button type="submit" class="button_menu">Waiting for assignment</button>
        </form>
        <form class="menu_inline" method="get" action="{% url 'document-waiting-return' %}">
            <button type="submit" class="button_menu">Assigned for checks</button>
        </form>
        <form class="menu_inline" method="get" action="{% url 'document-waiting-approval' %}">
            <button type="submit" class="button_menu">Waiting for approval</button>
        </form>
        <form class="menu_inline" method="get" action="{% url 'logout' %}">
            <button type="submit" class="button_menu">Logout</button>
        </form>
</div>
{% endif %}

{% if request.user.employee.position == 'project_menager' %}
<div class="menu_pm"> 
        <form class="menu_inline" method="get" action="{% url 'document-waiting-check' %}">
            <button type="submit" class="button_menu">Waiting for checks</button>
        </form>
        <form class="menu_inline" method="get" action="{% url 'document-checked' %}">
            <button type="submit" class="button_menu">Already checked</button>
        </form>
        <form class="menu_inline" method="get" action="{% url 'logout' %}">
            <button type="submit" class="button_menu">Logout</button>
        </form>
</div>
{% endif %}
