{% extends 'employees\base_login.html' %}
{% block content %}
<div class='center_div'> 
    <div class='center_register'> 
        <form class = "login_register_field" method='POST'> {% csrf_token %} 
            {{form_user.username.label}}  <br>
            <p class='form_input'> {{form_user.username}} </p> <br>
            {{form_user.password1.label}} <br>
            <p class='form_input'>{{form_user.password1}} </p><br>
            {{form_user.password2.label}} <br>
            <p class='form_input'>{{form_user.password2}} </p><br>
            {{form_employee.position.label}} <br>
            <p class='form_input'>{{form_employee.position}} </p><br>
            <input class= "button_login" type='submit' value='Register' >
        </form>
    </div>
</div>

                
{% endblock %}

