{% extends 'employees\accounts\base_accounts.html' %}
{% block content %}
<div class = 'center_content'>
<p class="page_title"> Add new document there.  </p> <br>
<form method='POST' class = "create_document" enctype="multipart/form-data"> {% csrf_token %}
{{form.title.label}}<br>
{{form.title}} <br>
{{form.description.label}} <br>
{{form.description}} <br>
Type of bill <br>
{{form.type}} <br>
{{file_form.document_file.label}} <br>
{{file_form.document_file}} <br>
<input class = 'upload_button' type='submit' value='Upload'>
</form>
</div>
{% endblock %}