{% extends 'employees\accounts\base_accounts.html' %}
{% block content %}
{% for document in documents %}
    DOCUMENT NAME: {{document.document_file}} <br>
    <a href='{% url 'document-detail-accounts' document.id %}'> VIEW </a>
    <form method='POST'  name='payment'>
        {% csrf_token %}
    <input type="hidden"  value="Paid" name="payment">
    <input type="hidden"  value="{{document.id}}" name="id">
    <input type="submit" value="Submit">
    </form>
    <hr>
    {% empty %}
    <p class = "empty_context" > You have no documents that are waiting for payment. </p>
{% endfor %}


{% endblock  %}

